# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env

# Build output
/build
/dist

# Logs
logs
*.log

# IDE files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db

# Uploads (optional if stored locally)
uploads/
